[submodule "xv6-riscv-fall19"]
	path = xv6-riscv-fall19
	url = https://github.com/black-desk/xv6-riscv-fall19.git
[submodule "riscv-gnu-toolchain"]
	path = riscv-gnu-toolchain
	url = https://github.com/black-desk/riscv-gnu-toolchain-6.828
[submodule "qemu"]
	path = qemu
	url = https://github.com/black-desk/qemu-6.828
